{% extends 'base.html' %}
    {% block title %}Рецепты{% endblock %}
    {% load static %}
    {% block static %}
        <link rel="stylesheet" href=" {% static 'pages/form.css' %}">
    {% endblock %}

    {% block content %}
    <div class="main__header">
        <h1 class="main__title">Сброс пароля завершен!</h1>
    </div>
    <p class="form__info-text">
        Ваш пароль установлен. Теперь вы можете войти в систему.</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    {% endblock %}