{% extends 'base.html' %}
{% load static %}
    {% block title %}Мои подписки{% endblock %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
    {% endblock %}
{% block content %}
{% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for author in page_obj %}
            <div class="card-user" data-author="{{ author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ author.username }}</h2>
                </div>
                <div class="card-user__body">
                    {% if author.author_recipes.all.count > 3 %}
                    {% for recipe in author.author_recipes.all|slice:"3" %}
                        <ul class="card-user__items">
                            <li class="card-user__item">
                                <div class="recipe">
                                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                                </div>
                            </li>
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="{% url 'profile_page' author.username %}" 
                        class="card-user__link link">Еще {{ author.author_recipes.all.count|add:"-3"}} рецептов...</a>
                    </li>
                    {% else %}
                    {% for recipe in author.author_recipes.all %}
                        <ul class="card-user__items">
                        <li class="card-user__item">
                            <div class="recipe">
                                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                                <h3 class="recipe__title">{{ recipe.title }}</h3>
                                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                            </div>
                        </li>
                    {% endfor %}
                        <li class="card-user__item">
                            <a href="{% url 'profile_page' author.username %}" 
                            class="card-user__link link">Перейти к автору</a>
                        </li>
                    {% endif %}
                        </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'includes/paginator.html' with items=page_obj paginator=paginator %}   
    {% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}